---
import Stats from '@/components/stats-about.astro';
import { CldImage } from 'astro-cloudinary';

import { render, getEntry } from 'astro:content';
const about = await getEntry('about', 'about');
if (!about) {
  throw new Error('About entry not found');
}
const { headings, Content: AboutContent } = await render(about);
---

<section class="relative mx-auto mb-8 max-w-7xl">
  <div class="flex flex-col lg:flex-row-reverse">
    <!-- Hero image -->
    <div class="flex items-center justify-center">
      <div>
        <CldImage
          class="mx-auto"
          src="PortraitAbout_q5t0lw"
          width={400}
          height={600}
          alt="About intro"
          sizes="100vw"
          crop="fill"
        />
        <Stats />
      </div>
    </div>
    <div class="mx-auto max-w-6xl px-4 sm:px-6">
      <div class="pb-12 md:pb-20">
        <div class="mx-auto max-w-3xl">
          <div class="text-lg text-slate-500 flex flex-col gap-4">
            <AboutContent headingLevel="h2" />
            <CldImage
              src="signature_bvbjp6"
              width={500}
              height={200}
              alt="signature"
              sizes="100vw"
              crop="fill"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
