---
import PageIllustration from '@/components/page-illustration.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="404 - Stránka nebyla nalezena" description="Stránka nebyla nalezena">
  <div class="flex flex-col items-center justify-center h-screen">
    <PageIllustration />
    <h1 class="text-4xl font-bold">404</h1>
    <p class="text-lg">Stránka nebyla nalezena</p>
    <a href="/" class="text-blue-500">Zpět na hlavní stránku</a>
  </div>
</Layout>
