---
import Hero from '@/components/hero.astro';
import ServicesOverview from '@/components/services-overview.astro';
import Layout from '../layouts/Layout.astro';
import ReferencesOverview from '@/components/references-overview.astro';
---

<Layout>
  <Hero />
  <ServicesOverview />
  <div class="w-full bg-slate-200"><ReferencesOverview /></div>
</Layout>
