---
import Layout from '@/layouts/Layout.astro';
import Hero from './hero.astro';
import Services from '@/components/services.astro';

export const metadata = {
  title: 'Ing. Jan Jírek - Služby',
  description: 'Seznam realitních služeb, které nabízí Ing. Jan Jírek',
};
---

<Layout
  title="Ing. Jan Jírek - Služby"
  description="Seznam realitních služeb, které nabízí Ing. Jan Jírek"
>
  <Hero />
  <div class="max-w-7xl mx-auto px-4 md:px-12">
    <Services />
  </div>
</Layout>
