---
import Header from "@/components/ui/header.astro";
import "@/styles/global.css";
import Footer from "@/components/ui/footer.astro";
import Animate from "@/components/animate.tsx";

// Import fonts using Astro's way
import "@fontsource/inter/500.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = "Realitní Makléř Ing. Jan Jírek",
  description = "Prodej a pronájem bytů, domů a pozemků v Pardubicích, Hradci Králové a okolí."
} = Astro.props;
---

<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-white font-inter tracking-tight text-gray-800 antialiased">
    <div class="flex min-h-screen flex-col overflow-hidden supports-[overflow:clip]:overflow-clip">
      <Animate client:load />
      <Header />
      <main class="grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
