---
import { Image } from 'astro:assets';
import Logo from './logo.astro';
import MobileMenu from './mobile-menu.tsx';

// Import fonts using Astro's way
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';
import '@fontsource/inter/800.css';

// Define metadata
export const metadata = {
  title: 'Realitní Makléř Ing. Jan Jírek',
  description: 'Prodej a pronájem bytů, domů a pozemků v Pardubicích, Hradci Králové a okolí.',
};
---

<header class="fixed top-2 z-30 w-full md:top-6">
  <div class="mx-auto max-w-6xl px-4 sm:px-6">
    <div
      class="relative flex h-14 items-center justify-between gap-3 rounded-2xl bg-white/90 px-3 shadow-lg shadow-black/[0.03] backdrop-blur-xs before:pointer-events-none before:absolute before:inset-0 before:rounded-[inherit] before:border before:border-transparent before:[background:linear-gradient(var(--color-gray-100),var(--color-gray-200))_border-box] before:[mask-composite:exclude_!important] before:[mask:linear-gradient(white_0_0)_padding-box,_linear-gradient(white_0_0)]"
    >
      <!-- Site branding -->
      <div class="flex flex-1 items-center">
        <a href="/" class="inline-flex" aria-label="www.janjirek.cz">
          <Logo />
        </a>
      </div>

      <!-- Desktop navigation -->
      <nav class="hidden md:flex md:grow">
        <!-- Desktop menu links -->
        <ul class="flex grow flex-wrap items-center justify-center gap-4 text-sm lg:gap-8">
          <li class="px-3 py-1">
            <a href="/" class="flex items-center text-gray-700 transition hover:text-gray-900">
              Úvod
            </a>
          </li>
          <li class="px-3 py-1">
            <a href="/o-mne" class="flex items-center text-gray-700 transition hover:text-gray-900">
              O mně
            </a>
          </li>
          <li class="px-3 py-1">
            <a
              href="/reference"
              class="flex items-center text-gray-700 transition hover:text-gray-900"
            >
              Reference
            </a>
          </li>
          <li class="px-3 py-1">
            <a
              href="/nemovitosti"
              class="flex items-center text-gray-700 transition hover:text-gray-900"
            >
              Nemovitosti
            </a>
          </li>
          <li class="px-3 py-1">
            <a
              href="/sluzby"
              class="flex items-center text-gray-700 transition hover:text-gray-900"
            >
              Služby
            </a>
          </li>
          <li class="px-3 py-1">
            <a
              href="/clanky"
              class="flex items-center text-gray-700 transition hover:text-gray-900"
            >
              Články
            </a>
          </li>
          <li class="px-3 py-1">
            <a
              href="/zakazky"
              class="flex items-center text-gray-700 transition hover:text-gray-900"
            >
              Realizované Zakázky
            </a>
          </li>
        </ul>
      </nav>

      <!-- Desktop sign in links -->
      <ul class="flex flex-1 items-center justify-end gap-3">
        <li>
          <a href="/kontakt" class="btn-sm bg-gray-800 text-gray-200 shadow-sm hover:bg-gray-900">
            Kontakt
          </a>
        </li>
      </ul>

      <MobileMenu client:load />
    </div>
  </div>
</header>
