---
import { CldImage } from 'astro-cloudinary';
---

<a href="/" class="inline-flex" aria-label="www.janjirek.cz">
  <CldImage
    src="vodoznak_iwwfph"
    width={190}
    height={40}
    alt="www.janjirek.cz"
    sizes="100vw"
    crop="fill"
  />
</a>
